{
  "presets": [
    [
      "@babel/preset-env",
      {
        // "modules": false, // 启用将ES6模块语法转换为另一种模块类型
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"],
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [["@babel/plugin-syntax-dynamic-import"]]
}
